:root {
  --clr-bg: #12141c;
  --clr-text: #fff;
  --clr-blue: #2496ff;
  --clr-purple: #647dfe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

select {
  /* // A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  /* // Additional resets for further consistency */
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

body {
  overflow-x: hidden;
  background-color: #12141c;
  /* background-image: linear-gradient(135deg, #12141c, #2a2d3f20);
  background-attachment: fixed; */
  /* background-image: radial-gradient(circle, #2496ff06 10%, transparent 11%);
  background-size: 3em 3em; */

  color: #fff;
}

/* Navbar */
.list {
  display: flex;
  gap: 25px;
}

.logo {
  /* padding: 3px 9px;
  border: 3px solid #000; */
  color: var(--clr-blue);
  background-image: linear-gradient(90deg, var(--clr-blue), var(--clr-purple));
  background-clip: text;
  color: transparent;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.main-nav {
  /* position: sticky;
  top: 0;
  left: 0; */
  width: 100%;
  padding: 25px 75px;
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.6s;
  z-index: 1000;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  /* background-color: var(--clr-bg); */
}

.main-nav-socials {
  margin-left: auto;
  font-size: 1.2rem;
}

/* container */
.container {
  max-width: 1350px;
  margin: 0 auto;
}

/* decks */
.decks {
  position: relative;
  margin-bottom: 50px;
}
.decks-header {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}

.decks-header h2 {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 700;
}

.decks input[type='checkbox'] {
  display: none;
}

.decks .show-old {
  font-size: 14px;
  display: block;
  padding: 12px 20px;
  border-radius: 5px;
  user-select: none;
  border: 1px solid var(--clr-blue);
  color: var(--clr-blue);
  cursor: pointer;
  transition: 0.3s;
}

.decks .show-old:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

.decks input[type='checkbox']:checked ~ .show-old {
  background-color: var(--clr-blue);
  border-top: 1px solid rgba(255, 255, 255, 0.5);

  color: #fff;
}

.decks-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* deck */

.deck {
  color: #fff;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}

.deck:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.01);
}

.deck-meta {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1px);
  padding: 30px;
  transition: 0.3s;
}

.deck-meta:hover {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px);
}

.deck-image {
  background-color: black;
  display: flex;
  gap: 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.deck-image img {
  object-position: center -10px;
  transform: skew(-10deg) scale(1.08);
  flex: 1;
}

.deck-info {
  min-width: 250px;
  margin-right: 250px;
}

.deck-colors {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.deck-colors img {
  width: 25px;
}

.deck-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.deck-rating {
  position: relative;
  aspect-ratio: 1/1;
  width: 50px;
  margin-right: auto;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);

  backdrop-filter: blur(15px);
}

/* .deck-rating::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
    gold calc(360deg * (var(--rating) / 10)),
    transparent 0deg
  );
  border-radius: 50%;
  transform: scale(1.07);
  z-index: -1;
} */

.deck-description {
  width: 40ch;
  line-height: 1.5;
}

.deck-strat {
  font-size: 0.8rem;
  display: inline-block;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);

  backdrop-filter: blur(15px);

  padding: 3px 8px;
  border-radius: 5222px;
}

/* custom select */

.custom-select {
  position: relative;
  display: inline-block;
  min-width: 200px;
  user-select: none;
  font-size: 14px;
  cursor: pointer;
}

.custom-select-text {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background-color: var(--clr-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}

.custom-select-text i {
  font-size: 0.9rem;
}

.custom-select-options {
  color: #333;
  --border-radius: 5px;
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.custom-select-options.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(20px);
}

.custom-select-options::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  transform: translate(-50%, -100%);
}

.custom-select-option {
  padding: 15px;
  cursor: pointer;
}

.custom-select-option:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.custom-select-option:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.custom-select-option:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.custom-select-option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.mtg {
  opacity: 0.03;
  z-index: -4;
  position: absolute;
  width: 500px;
  aspect-ratio: 1/1;
  background-size: 100%;
}

.mtg::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(100px);
}

.mtg1 {
  bottom: 20px;
  left: -250px;
  /* transform: rotate(45deg); */
}

.mtg2 {
  top: 50px;
  right: -250px;
  transform: rotate(180deg);
}

.deck-types {
  margin: 100px 0;
  display: flex;
  gap: 100px;
  align-items: center;
}

.deck-types-header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.deck-types-info p {
  margin-bottom: 20px;
  width: 30ch;
  line-height: 1.5;
  font-size: 18px;
  opacity: 0.7;
}

.deck-types-wrapper {
  display: flex;
  flex: 1;
}

.deck-type {
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  padding: 50px;
  flex: 1;
}

.deck-type:hover {
  background-color: rgba(255, 255, 255, 0.01);
}

.deck-type:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.deck-type-name {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

/* footer */
.main-footer {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer p {
  text-align: center;
}
.main-footer span {
  text-transform: uppercase;
  background-image: linear-gradient(90deg, var(--clr-blue), var(--clr-purple));
  background-clip: text;
  color: transparent;
  font-weight: 900;
  cursor: pointer;
}
